@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../../fonts/Source-Sans-Pro.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../../fonts/Source-Sans-Pro-Bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Volkhov";
  font-style: italic;
  font-weight: 400;
  src: local("Volkhov Italic"), local("Volkhov-Italic"), url(../../fonts/Volkhov.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Hack';
  src: url('../../fonts/Hack/eot/latin/hack-regular-latin-webfont.eot?v=2.018');
  src: url('../../fonts/Hack/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.018') format('embedded-opentype'),
       url('../../fonts/Hack/woff2/latin/hack-regular-latin-webfont.woff2?v=2.018') format('woff2'),
       url('../../fonts/Hack/woff/latin/hack-regular-latin-webfont.woff?v=2.018') format('woff'),
       url('../../fonts/Hack/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.018') format('truetype'),
       url('../../fonts/Hack/svg/latin/hack-regular-latin-webfont.svg?v=2.018#hackregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('../../fonts/Hack/eot/latin/hack-bold-latin-webfont.eot?v=2.018');
  src: url('../../fonts/Hack/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.018') format('embedded-opentype'),
       url('../../fonts/Hack/woff2/latin/hack-bold-latin-webfont.woff2?v=2.018') format('woff2'),
       url('../../fonts/Hack/woff/latin/hack-bold-latin-webfont.woff?v=2.018') format('woff'),
       url('../../fonts/Hack/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.018') format('truetype'),
       url('../../fonts/Hack/svg/latin/hack-bold-latin-webfont.svg?v=2.018#hackbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('../../fonts/Hack/eot/latin/hack-italic-latin-webfont.eot?v=2.018');
  src: url('../../fonts/Hack/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.018') format('embedded-opentype'),
       url('../../fonts/Hack/woff2/latin/hack-italic-latin-webfont.woff2?v=2.018') format('woff2'),
       url('../../fonts/Hack/woff/latin/hack-italic-latin-webfont.woff?v=2.018') format('woff'),
       url('../../fonts/Hack/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.018') format('truetype'),
       url('../../fonts/Hack/svg/latin/hack-italic-latin-webfont.svg?v=2.018#hackitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Hack';
  src: url('../../fonts/Hack/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.018');
  src: url('../../fonts/Hack/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.018') format('embedded-opentype'),
       url('../../fonts/Hack/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.018') format('woff2'),
       url('../../fonts/Hack/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.018') format('woff'),
       url('../../fonts/Hack/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.018') format('truetype'),
       url('../../fonts/Hack/svg/latin/hack-bolditalic-latin-webfont.svg?v=2.018#hackbolditalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
